:root{

    /*====BACKGROUND COLOR====*/
    --main-background-color: #FFFFFF;
    --team-background-color: #F5F4FA;
    --hero-background-color: #2F303A;
    --footer-background-color: #2F303A;

    /*===TEXT COLOR===*/
    --main-text-color: #757575;
    --h-bold-text-color: #212121;
    --logo-header-second-part-text-color: #000000;
    --logo-footer-second-part-text-color: #FFFFFF;
    --logo-first-part-text-color: #2196F3;
    --contacts-footer-text-color: rgba(255, 255, 255, 0.6);
    
    /*===DIFFERENT COLORS===*/
    --white-color: #FFFFFF;
    --focus-color: #2196F3;
    --buttons-background-color: #F5F4FA;

    /*===BORDER COLOR==*/
    --border-color-header:#ECECEC;
    --border-color-portfolio:#EEEEEE;
}

body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;


    color: var(--main-text-color);
} 

/* ====ПРИХОВАНИЙ ЗАГОЛОВОК=======*/
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/*=====ПРИБИРАЄМО ДЛЯ ВСІХ ВІДСТУПИ ЩОБ НЕ ПРОБИВАЛИ=====*/
h1,
h2,
h3,
p,
ul{
    margin: 0px;
    padding: 0px;
}


/*======ЗАДАЄМО КОНТЕЙНЕРУ ШИРИНУ====*/
.container{
    width: 1200px;
    padding: 0px 15px;
    margin: 0px auto;
    
}

/* всім спискам забираємо крапочки*/
.list {
    list-style: none;
}

/*всім ссилкам забрали підкреслення*/
.link{
    text-decoration: none;
}


/*=====УТИЛІТНИЙ КЛАС ДЛЯ ВСІХ СЕКЦІЙ -ОДНАКОВІ ВІДСТУПИ====*/
.section{
    padding-top: 94px;
    padding-bottom: 94px;
}

.header{
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 0px;
    padding-right: 0px;

    border-bottom: 1px solid var(--border-color-header);
}
.header-div{
    display: flex;
    align-items: center;
}

.header-nav{
    display: flex;
    align-items: center;
}

.header-logo{
    margin-right: 93px;

    font-family:'Raleway',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;


    color: var(--logo-header-second-part-text-color);
}

.logo-first-part{
    color:var(--logo-first-part-text-color);
}

.header-list{
    display:flex;
}

.header-item:not(:last-child){
    margin-right: 50px;
}


.header-link{
    font-weight: 500;
    letter-spacing: 0.02em;


    color:var(--h-bold-text-color);
}

.header-link:hover,
.header-link:focus{
    color: var(--focus-color);
}

.current{
    color: var(--focus-color);
}

.header-address-list{
    display: flex;
    margin-left: auto;
}

.header-address-item:not(:last-child){
    margin-right: 50px;
}

.header-address-link{
    font-weight: 500;
    letter-spacing: 0.02em;


    color: inherit;
}

.header-address-link:hover,
.header-address-link:focus{
    color: var(--focus-color);
}

/*=======СЕКЦІЯ ГЕРОЙ======*/
.hero.section{
    padding: 200px 0px;
   

    background-color: var(--hero-background-color);
    text-align: center;
}

.hero-title{
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 30px;
    margin-left: auto;


    width: 696px;


    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;

    
    letter-spacing: 0.06em;
    text-transform: uppercase;
    
    color:var(--white-color);
}

.hero-btn{
    display: inline-block;
    min-width: 216px;
    padding: 10px 32px;


    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    
    
    letter-spacing: 0.06em;
    
    color: var(--white-color);
    background-color: var(--focus-color);
    border: transparent;
    border-radius: 4px;

    cursor: pointer;
}

.speciality-list{
    display: flex;
}


.speciality-item{
    width: 270px;
}

.speciality-item:not(:last-child) {
    margin-right: 30px;
}


.speciality-subtitle{
    margin-bottom: 8px;


    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color:var(--h-bold-text-color);
}

.speciality-description{
    line-height: 1.71;
        
    letter-spacing: 0.03em;
}

.projects.section{
    padding-top: 0px;
    padding-bottom: 94px;
}


.projects-title{
    margin-bottom: 50px;


    font-weight: 700;
    font-size: 36px;
    text-align: center;
        
    
    color:var(--h-bold-text-color);
}

.projets-list{
    display: flex;
    justify-content: center;
}

.projets-item:not(:last-child){
    margin-right: 30px;
}


.team{
    background-color: var(--team-background-color);
}

.team-item{
    background-color:var(--white-color);
}


.team-title{
    margin-bottom: 50px;


    font-weight: 700;
    font-size: 36px;
    text-align: center;
        
    color:var(--h-bold-text-color);
}

.team-div {
    padding-top: 30px;
    padding-bottom: 30px;
}


.team-list{
    
    display: flex;
    column-gap: 30px;
}


.team-subtitle{
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    
    
    text-align: center;
    
    color: var(--h-bold-text-color);
}

.team-description{
    font-size: 16px;
    
    
    text-align: center;
}

/*======СТИЛІЗАЦІЯ ФУТЕРА======*/
.footer{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--footer-background-color);
}

.footer-logo{
    margin-bottom: 20px;
    display: block;


    font-family: 'Raleway',sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    
    letter-spacing: 0.03em;
    
    color: var(--logo-footer-second-part-text-color);
}


.footer-item:not(:last-child){
    margin-bottom: 9px;
}

.footer-map-link{
    line-height: 1.71;
    
    color: var(--white-color);
}

.address{
    font-style: normal;
}


.footer-map-link:hover,
.footer-map-link:focus{
    color: var(--focus-color);
}


.footer-link{
    line-height: 1.71;
    
    
    color:var(--contacts-footer-text-color);
}


.footer-link:hover,
.footer-link:focus{
    color: var(--focus-color);
}

/*=====ПОРТФОЛІО====*/
.buttons{
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    
}

.button{
    display: inline-block;
    min-width: 73px;
    padding: 6px 22px;



    font-family:inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    
    text-align: center;
    letter-spacing: 0.03em;
    
    color: var(--h-bold-text-color);
    background-color: var(--buttons-background-color);
    cursor: pointer;
    border: transparent;
    border-radius: 4px;
}

.button-item:not(:last-child) {
    margin-right: 8px;

}

.button:hover,
.button:focus{
    color: var(--white-color);
    background-color:var(--focus-color);
}

.portfolio-projects-list{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.border-portfolio{
    padding: 20px 24px;


    border-right: 1px solid var(--border-color-portfolio);
    border-bottom: 1px solid var(--border-color-portfolio);
    border-left: 1px solid var(--border-color-portfolio);
}


.portfolio-project-title{
    margin-bottom: 4px;


    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    
    
    letter-spacing: 0.06em;
    
    color:var(--h-bold-text-color);
}

.portfolio-projet-desc{
    font-size: 16px;
    line-height: 1.88;
}

